<html ng-app="shoplist">
    <head>

    </head>
    <body ng-controller="list">
        <h1>Lista de compras da Dona Salete</h1>
        <div ng-repeat="item in lista">
            <a href="#" ng-click="loadItem(item)">{{item.item}} = {{item.quantidade}}</a><a href="#" ng-click="removeItem(item)"><img src="https://cdn2.iconfinder.com/data/icons/drf/PNG/trash.png" /></a>
        </div>
        <form ng-submit="addItem()">
            Produto: <input type="text" ng-model="newItem.item" name="text" />
            <br>
            Quantidade:
                <input type="number" ng-model="newItem.quantidade" name="qtd">
            <br>
            <input type="submit" value="Mãe, compra pra mim?" />
        </form>

        <script src="js/angular.min.js"></script>
        <script src="js/main.js"></script>
        <script src="js/shoplist.js"></script>
    </body>
</html>
